body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  background: linear-gradient(120deg, #ffd9fd, #87acff);
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  border-radius: 1px;
  background: linear-gradient(120deg, #ff00f0, #0050ff) ;
  padding-bottom: 30px;
  opacity: 75%;
}

.navbar-brand {
  font-family: 'Fira Sans', sans-serif;
  padding-top: 20px;
  font-size: 3em;
  color: white;
  padding-left: 25px;
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
letter-spacing: 3px;
}

.navbar-brand:hover {
 color: #0050ff;
 
}

.nav {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  border: 3px solid #8da8c2;
  margin: 30px;
}

.icon-bar {
  background-color: white;
}
.icon-bar:hover{
  background-color: black;
}
.navbar-toggle:hover 
{
background: linear-gradient(120deg, #ffd9fd, #87acff);
border: 3px solid black;
}

.main-title {
  margin-bottom: 15px;
  text-align: center;
  color: #1751ad;
  font-size: 50px;
  text-shadow: 2px 0px 2px #222;
  font-weight: bold;
  opacity: 85%;
  letter-spacing:10px;
}

li {
  box-sizing: border-box;
  width: 100%;
}

.menuitem {
  padding: 0;
  margin: ;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 1px solid black;
  color: black;
  display: block;
  font-size: 30px;
}

.menuitem:hover {
  background: linear-gradient(120deg, #ffd9fd, #87acff);
  font-weight: bold;
}

.row {
  margin: 20px;
}

.content-box {
  margin: 20px;
  width: auto;
  height: auto;

  background: linear-gradient(120deg, #87acff, #ffd9fd);
  font-family: "Times", sans-serif;
  padding: 20px;
}

.item-name {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  background-color: black;
  color: white;
  opacity: 75%;
}
.item-name:hover 
{
  box-shadow: 3px 0pc 3px 3px #222;
  font-weight: bold;
  
}
